<!-- templates/404.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-dark">
    <div class="d-flex align-items-center justify-content-center min-vh-100 px-2">
        <div class="text-center">
            <div class="w-25">
                <img src="{% static 'img/broken_bicycle.png' %}" alt="壊れた自転車">
            </div>
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-2 fw-medium mt-4">Oops! Page not found</p>
            <p class="mt-4 mb-3">
                お探しのページは存在しないか、移動しています    
            </p>
            <a href='{% url "diary:top" %}' class="btn btn-light border-dark fw-semibold rounded-pill px-4 py-3">
                トップページに戻る
            </a>
        </div>
    </div>
</div>
{% endblock %}