.userprofile-field {
    position: relative;  /* 位置の調整 */
    border-radius: 10px;  /* 角を丸く */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* 影を付けて浮かせる */
    padding: 15px;
    background-color: #fff; /* 背景色 */
    transition: box-shadow 0.3s ease-in-out;  /* ホバー時の影の変化 */
}
.userprofile-field:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);  /* ホバー時に影を強調 */
}

.usericon-container {
    text-align: center;
}
@media (max-width: 576px) {
    .usericon-container .usericon-field {
        width: 50%;
    }
}
.usericon-container img {
    width: 100%;  /* 親要素に収まる */
    height: auto;  /* アスペクト比を維持 */
    object-fit: cover;  /* はみ出しを防ぐ */
    border-radius: 50%;  /* 丸い画像を維持 */
    aspect-ratio: 1 / 1;
}
.usericon-container .user-edit-button {
    position:absolute;
    bottom: 1px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 10px;
    height: 20%; /* 親要素の20%の高さ */
    width: auto;
    min-width: 30px;  /* 最小の幅 */
    min-height: 30px; /* 最小の高さ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    aspect-ratio: 1 / 1;
}
/* 768px以上の画面幅でフォントサイズを変更 */
@media (min-width: 768px) {
    .usericon-container .user-edit-button {
        font-size: 2vw; /* md 以上でのフォントサイズ */
    }
}
#usericonModal .icon-img-radio {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}

.userinformation-field th {
    color: #6c757d;       /* Bootstrap の text-muted */
    font-weight: 600;      /* Bootstrap の fw-semibold */
    font-size: .8rem;       /* Bootstrap の fs-6 (16px) */
    border-bottom: none;
    padding-bottom: 0;
}
.userinformation-field td {
    font-size: 1rem;
    font-weight: bolder;
}
@media (min-width: 768px) {
    .userinformation-field th {
        font-size: 1rem;       /* Bootstrap の fs-6 (16px) */
    }
    .userinformation-field td {
        font-size: 1.4rem;  /* 中画面 (md) 以上 */
    }
}
.userinformation-field .user-edit-button,
.userinformation-field .user-submit-button {
    background-color: transparent;
    color: #6c757d;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /* padding: 3px 10px; */
    padding: 0;
    font-size: 1.5rem;
}
.userinformation-field .user-edit-button::before {
    font-family: bootstrap-icons;
    content: '\F4CA';
    color: #6c757d;
}
.userinformation-field .user-submit-button::before {
    font-family: bootstrap-icons;
    content: '\F6B9';
    color: #2196F3;
}
.user-edit-button:focus {
    outline: none;
}

.setting-field td {
    padding: 10px 15px;
}

/* アイコン非表示 */
.setting-field .button-logout::before {
    content: ""!important;
}