{% extends "account/snippets/auth_card.html" %}
{% load i18n allauth account static %}

{% block title %}
    再認証
{% endblock title %}

{% block card_header %}
    <span class="opacity-50">Reauthenticate</span>
{% endblock card_header %}

{% block card_body %}
    <h6 class="mb-3 text-muted fw-bold">アカウント保護のため、再認証してください。</h6>
    {% block reauthenticate_content %}{% endblock %}

    {% if reauthentication_alternatives %}
    <hr>
    <p>代替オプション</p>
    <div class="button-group">
        {% for alt in reauthentication_alternatives %}
            <a href="{{ alt.url }}" class="btn btn-outline-primary">
                {{ alt.description }}
            </a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock card_body %}