{% extends "base.html" %}
{% load allauth i18n %}

{% block content %}
    {% if emailaddresses %}
        {% url 'account_email' as email_url %}
        <p>あなたのアカウントに関連付けられたメールアドレスは次の通りです:</p>
        <form action="{{ email_url }}" method="post" class="email-list">
            {% csrf_token %}
            
            {% for radio in emailaddress_radios %}
                {% with emailaddress=radio.emailaddress %}
                    <div class="radio-group">
                        <input type="radio" name="email" value="{{ emailaddress.email }}" id="{{ radio.id }}" 
                            {% if radio.checked %} checked {% endif %}>
                        <label for="{{ radio.id }}">
                            {{ emailaddress.email }}
                            
                            {% if emailaddress.primary %}
                                <span class="badge bg-secondary">メイン</span>
                            {% endif %}
                        </label>
                    </div>
                {% endwith %}
            {% endfor %}

            <div class="form-actions">
                <button type="submit" name="action_primary">メインに設定</button>
                <button type="submit" name="action_send" class="secondary">確認メールを再送信</button>
                <button type="submit" name="action_remove" class="danger">削除</button>
            </div>
        </form>
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}

    {% if can_add_email %}
        <div class="mt-3">
            {% url 'account_email' as action_url %}
            <form method="post" action="{{ action_url }}" class="add-email-form">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <div class="form-actions">
                    <button type="submit" name="action_add">メールアドレスを追加</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock content %}

{% block extra_body %}
    <script>
        (function() {
            var message = "選択したメールアドレスを削除してもよろしいですか？";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function(e) {
                    if (! confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        })();
    </script>
{% endblock extra_body %}
