{% extends "account/snippets/auth_card.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/inputs.css' %}" type="text/css">
{% endblock extra_css %}
    
{% block card_body %}
    <div class="mb-md-5 mt-md-4 pb-3">
        <p class="text-danger opacity-10">
            Delete account
        </p>
        <!-- フォーム -->
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-2">
                    {% if field.name == "confirm" %}
                        <label for="{{ field.id_for_label }}">
                            {{ field }} {{ field.label }}
                        </label>
                    {% else %}
                        <label for="{{ field.id_for_label }}" class="d-none"></label>
                        <div class="input-group">
                            {{ field | add_class:"form-control" }}
                            {% if field == form.password %}
                                <button class="btn btn-outline-secondary togglePassword" type="button" tabindex="-1">
                                    <i class="bi bi-eye-slash password-icon"></i> <!-- 目のアイコン -->
                                </button>
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>
            {% endfor %}

            <!-- 退会に際する注意事項 -->
            <div class="mb-2">
                <ul class="list-unstyled">
                    {% for warning in leave_warnings %}
                        <li class="text-start explanation">{{ warning }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% for error in form.non_field_errors %}
                <div class="alert-message">
                    <p>{{ error }}</p>
                </div>
            {% endfor %}
            <button class="button-leave btn btn-outline-danger btn-lg w-100 mt-3" type="submit">
                退会する
            </button>
        </form>
    </div>
{% endblock card_body %}

{% block extra_js %}
    <script src="{% static 'accounts/js/password_eye.js' %}"></script>
    <script src="{% static 'accounts/js/leave.js' %}"></script>
{% endblock %}
