{% extends "base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block title %}
    {% trans "ログイン" %}
{% endblock title %}

{% block page_title %}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/inputs.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" type="text/css">
{% endblock extra_css %}
    
{% block content %}
    <div class="row d-flex justify-content-center align-items-center my-2">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card card-form bg-light-subtle text-dark" style="border-radius: 1rem;">
                <div class="card-body p-4 text-center">
                    <div class="mb-md-5 mt-md-4 pb-3">
                        <p class="opacity-50">Login</p>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-2">
                                    {% if field.name == "remember" %}
                                        <label for="{{ field.id_for_label }}">{{ field }} {{ field.label }}</label>
                                    {% else %}
                                        <label for="{{ field.id_for_label }}" class="d-none"></label>
                                        <div class="input-group">
                                            {{ field | add_class:"form-control" }}
                                            {% if field == form.password %}
                                                <button class="btn btn-outline-secondary togglePassword" type="button" tabindex="-1">
                                                    <i class="bi bi-eye-slash password-icon"></i> <!-- 目のアイコン -->
                                                </button>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}                        

                            {% for error in form.non_field_errors %}
                                <div class="alert-message">
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}
                            <p class="small pb-lg-2 mt-4"><a class="text-dark" href="{% url 'account_reset_password' %}">パスワードがわからない?</a></p>
                            <button class="btn btn-outline-dark btn-lg w-100 mt-3" type="submit">ログイン</button>
                        </form>
                        <hr>
                        <div class="mt-4 pt-1">
                            <a href="{% provider_login_url 'google' process='login' %}" class="btn btn-outline-info py-3 w-100">
                                <strong>
                                    <i class="bi bi-google me-3"></i>Googleでログイン
                                </strong>
                            </a>
                        </div>
                    </div>

                    <div>
                        <a href="{% url 'accounts:signup' %}" class="text-dark">アカウントを作成</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'accounts/js/password_eye.js' %}"></script>
{% endblock %}
