{% extends "account/snippets/auth_card.html" %}
{% load i18n static %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block title %}
    パスワ〜ド新規設定
{% endblock title %}
    
{% block card_body %}
<div class="mb-md-5 mt-md-4 pb-3">
    <p class="opacity-50">Set Password</p>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-2">
                <label for="{{ field.id_for_label }}" class="d-none"></label>
                {% if field.name == "password1" %}
                    <div class="pt-3 text-start text-muted small">
                        {{ field.help_text }}
                    </div>
                {% endif %}
                <div class="input-group">
                    {{ field | add_class:"form-control" }}
                    <button class="btn btn-outline-secondary togglePassword" type="button" tabindex="-1">
                        <i class="bi bi-eye-slash password-icon"></i> <!-- 目のアイコン -->
                    </button>
                </div>
            </div>
        {% endfor %}                        

        {% for error in form.non_field_errors %}
            <div class="alert-message">
                <p>{{ error }}</p>
            </div>
        {% endfor %}
        <button class="btn btn-outline-dark btn-lg w-100 mt-3" type="submit">
            パスワード登録
        </button>
    </form>
</div>
{% endblock card_body %}

{% block extra_js %}
    <script src="{% static 'accounts/js/password_eye.js' %}"></script>
{% endblock %}