{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load accounts_filters %}
{% load widget_tweaks %}

{% block title %}
    せってい
{% endblock title %}
    
{% block page_title %}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/setting.css' %}" type="text/css">
{% endblock extra_css %}

{% block content %}
    <div class="container-setting mx-2">
        <div class="userprofile-field my-3 row">
            <div class="usericon-field col-md-3 col-12 mb-2">
                <div class="position-relative d-inline-block">
                    <img src="{{user.icon}}" class="border border-dark" alt="icon" loading="lazy">
                    <button class="user-edit-button" data-bs-toggle="modal" data-bs-target="#usericonModal" onclick="resetAllEditButtons()">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </div>
            <!-- ユーザー情報（table形式） -->
            <div class="userinformation-field col-md-9 col-12">
                <form method="post">
                    {% csrf_token %}
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>{{ user |verbose_name:"username" }}</th>
                            </tr>
                            <tr class="align-middle">
                                <td style="width: 90%;">
                                    <span class="user-info">{{ user.username }}</span>
                                    {{ form.username|add_class:"form-control w-100 d-none" }}
                                </td>
                                <td>
                                    <button type="button" class="user-edit-button" onclick="toEdit(this)"></button>
                                    <button type="submit" class="user-submit-button d-none" name="form-username" id="form-username"></button>
                                </td>
                            </tr>
                            
                            <tr>
                                <th>{{user|verbose_name:"email"}}</th>
                            </tr>
                            <tr class="align-middle">
                                <td>
                                    <span class="user-info">{{ user.email }}</span>
                                    {{ form.email |add_class:"form-control w-100 d-none" }}
                                </td>
                                <td>
                                    <button type="button" class="user-edit-button" onclick="toEdit(this)"></button>
                                    <button type="submit" class="user-submit-button d-none" name="form-email" id="form-email"></button>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">{{user|verbose_name:"date_joined"}}</th>
                            </tr>
                            <tr class="align-middle">
                                <td>
                                    <span class="user-info">{{ user.date_joined|date:"Y年m月d日" }}</span>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="setting-field pt-3">
            <table class="table table-hover">
                <tbody class="fs-6 fw-bold">
                    <tr>
                        <td>
                            {% if user.has_usable_password %}
                                <a href="{% url 'accounts:password_change' %}" class="text-decoration-none text-dark w-100 d-block">
                                    パスワードを変更する
                                </a>
                            {% else %}
                                <a href="{% url 'accounts:password_set' %}" class="text-decoration-none text-dark w-100 d-block">
                                    パスワードを設定する
                                </a>
                            {% endif %}
                        </td>
                    </tr>                    
                    <tr>
                        <td>
                            <a href="{% url "diary:address_user" %}" class="text-decoration-none text-dark w-100 d-block">
                                お気に入りの場所の登録・変更
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url "accounts:connections" %}" class="text-decoration-none text-dark w-100 d-block">
                                アカウントの紐付け
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="button-logout" role="button" data-url="{% url 'accounts:logout' %}">
                            ログアウト
                        </td>
                    </tr>
                    <tr>
                        <td class="button-delete-all-diaries text-danger" role="button" data-url="{% url 'diary:delete_all_diaries' %}">
                            日記をすべて削除する
                        </td>
                    </tr>
                    <tr>
                        <td class="button-leave-user text-danger" role="button" onclick="location.href='{% url 'accounts:leave' %}'">
                            退会する
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal scale-up-center" id="usericonModal" tabindex="-1" aria-labelledby="usericonModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="usericonModalLabel">アイコンを選択</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                {% for radio in form.icon %}
                                    <label class="col-4 text-center">
                                        <div class="d-none">
                                            {{ radio.tag }}
                                        </div>
                                        <img 
                                            class="icon-img-radio rounded-circle p-1 w-100 border border-3 border-transparent" 
                                            src="{{ radio.data.value }}" 
                                            alt="{{ radio.choice_label }}" style="cursor: pointer;">
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="form-icon" id="submit-icon">変更</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'accounts/js/setting.js' %}"></script>
    <script src="{% static 'accounts/js/add_photo_to_choice.js' %}"></script>
{% endblock %}