{% extends "account/snippets/auth_card.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block title %}
    新規登録
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/inputs.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}" type="text/css" >
{% endblock extra_css %}
    
{% block card_header %}
    <span class="opacity-50">Signup</span>
{% endblock card_header %}

{% block card_body %}
<div class="mb-md-5 mt-md-4 pb-3">
    <form method="post">
        {% csrf_token %}
        {{ form.certifications.errors }}
        {% for field in form %}
            <div class="form-outline form-dark mb-2">
                <label for="{{ field.id_for_label }}" class="d-none"></label>
                <div class="input-group">
                    {{ field | add_class:"form-control" }}
                    {% if field == form.password1 %}
                        <button class="btn btn-outline-secondary togglePassword" type="button" tabindex="-1">
                            <i class="bi bi-eye-slash password-icon"></i> <!-- 目のアイコン -->
                        </button>
                    {% endif %}
                </div>
                {% if field.help_text %}
                    <div class="py-2 text-start text-muted small">
                        {{ field.help_text }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert-message">
                <p>{{ error }}</p>
            </div>
        {% endfor %}
        <button class="btn btn-outline-dark btn-lg w-100" type="submit">新規作成</button>
    </form>
    <hr>
    <div class="pt-1">
        {% include "socialaccount/snippets/provider_list.html" %}
    </div>
</div>

<div>
    <a href="{% url 'accounts:login' %}" class="text-dark">既にアカウントを持っている</a>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'accounts/js/password_eye.js' %}"></script>
{% endblock %}
