{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block content %}
    <p>メールアドレス確認メールを送信しました</p>
    <p>確認メールが届かない場合は、迷惑メールフォルダを確認するか、以下のボタンから再送信してください。</p>

    <form method="post" class="py-2" action="{% url "account_email_verification_sent" %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary" name="action-send">
            メールを再送信
        </button>
    </form>

    <p><a href="{% url 'account_login' %}">ログイン画面に戻る</a></p>
{% endblock content %}
