・日記の新規作成
1. 下の[カメラアイコン]がついたフィールドにサイクリング中に撮った写真をぶち込みます（またはフィールドをクリックして写真を選択する）
※ この時，選択する画像は位置情報が付いていると後々ラクです
2. 日記が自動で作成されるのをボーッと見ます
※ 画像ロード中によくわからないエラーが発生し，リロードしても治らない場合は制作者に報告をお願いします
3. 表示されている日記を編集します
    1. 日記の公開・非公開を選択できます
    2. 撮影場所の表示名を[名称変更アイコン]から変更できます
    3. [場所変更アイコン]から撮影場所の変更ができます
    4. [削除アイコン]から日記，撮影場所の削除ができます（撮影場所を全て削除すると自動で日記も削除されます）
    5. [回転アイコン]で写真を90°ずつ回転することができます
    6. コメント欄になんかいい感じのコメントができます
    ※ 写真に位置情報が付随していない場合_(場所を指定する)から撮影場所を指定できます
4. 日記作成！ボタンで日記を作成します

・日記に写真を追加する
日記が存在する日の写真を追加することができます
その際に，その日記を編集することもできます

（注意）
・１つの日記に追加できる撮影場所は{MAX_LOCATION}個までです
・１度に作成できる日記の上限は{MAX_DIARY}個です
・自分または他人が日記作成に使用した写真は新規日記作成に使用することはできません