{% extends "account/snippets/auth_card.html" %}
{% load i18n allauth account static %}
{% load widget_tweaks %}

{% block title %}
    パスワ〜ドリセット
{% endblock title %}

{% block card_header %}
<div class="password-reset-field">
    <span class="opacity-50">Reset Password</span>
</div>

<div class="password-reset-done-field" style="display: none;">
    <div class="row d-flex align-items-center">
        <div class="col-4 text-start d-flex align-items-center">
            <button type="button" class="button-reset btn icon-in-button p-0" style="height: 1.5rem;">
                <span class="material-icons-round"> undo </span>
            </button>
        </div>
        <div class="opacity-50 col-4"><span>Email send</span></div>
    </div>
</div>
{% endblock card_header %}

{% block card_body %}
<div class="password-reset-field">
    <div class="mb-md-5 mt-md-4 pb-3">
        <form method="post" id="password-reset-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-2">
                    <label for="{{ field.id_for_label }}" class="d-none"></label>
                    <div class="input-group">
                        {{ field | add_class:"form-control" }}
                    </div>
                    <div class="pt-3 text-start text-muted small">
                        {{ field.help_text|safe }}
                    </div>
                </div>
            {% endfor %}                        

            <button class="btn btn-outline-dark btn-lg w-100 mt-3" type="submit">
                メール送信
            </button>
            {% if form.errors %}
                <ul class="error-list">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
</div>

<div class="password-reset-done-field" style="display: none;">
    <div class="mb-4 mt-3">
        <h5 class="mb-4 fw-bold">パスワード再設定用のメールを送信しました</h5>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="mb-4">
            届かない場合は、迷惑メールフォルダを確認するか、以下のボタンから再送信してください。
        </p>
        
        <form method="post" id="password-reset-form-re" class="my-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary btn-lg w-100 shadow-sm hover-shadow-lg transition-all" name="action-send">
                <span class="d-flex align-items-center justify-content-center">
                    <i class="material-icons-round me-2">email</i>メール再送信
                </span>
            </button>
        </form>
        
        <hr class="my-4">
        
        <p>
            <a href="{% url 'account_login' %}">ログイン画面に戻る</a>
        </p>
    </div>
</div>
{% endblock card_body %}


{% block extra_js %}
    <script src="{% static 'js/loading_overlay.js' %}"></script>
    {% comment %} ajax監視用 {% endcomment %}
    <script src="{% static 'js/ajax_management.js' %}"></script>
    <script src="{% static 'accounts/js/password_reset.js' %}"></script>
{% endblock extra_js %}