{% extends "account/snippets/auth_card.html" %}
{% load i18n allauth account static %}

{% block title %}
    パスワ〜ド変更完了
{% endblock title %}

{% block card_header %}
    <span class="opacity-50">Complete Reset Password</span>
{% endblock card_header %}

{% block card_body %}
    <h4 class="mb-3 fw-bold">パスワード変更完了</h4>
    <div class="pt-2">パスワードを変更しました</div>
    <div class="auto-redirect pt-3" data-redirect-url="{% url 'account_login' %}" data-redirect-count="5">
        <span class="auto-redirect-text">
            <text class="countdown-text"></text>秒後にログインページへ移動します...
        </span>
    </div>
    <hr>
    <p class="pt-3 mb-0"><a href="{% url 'account_login' %}">ログイン画面に戻る</a></p>
{% endblock card_body %}

{% block extra_js %}
    <script src="{% static 'js/auto_redirect.js' %}"></script>
{% endblock extra_js %}