{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'games/css/game_base.css' %}" type="text/css">
    {% block game_css %}{% endblock game_css %}
{% endblock extra_css %}
    
{% block content %}
    <div class="d-flex justify-content-center">
        <div id="game-container"></div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        const url_CycleD = "{% url 'diary:home' %}";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.87.0/phaser.min.js" integrity="sha512-e251dDfxfj70o3iWsf84M612cWbWdTXjVbFXA7MavobTcKB1sCLV+WNiduc20UrpWLXRgi1tgob1TOAfySx9Xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block game_js %}{% endblock game_js %}
{% endblock %}