{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'games/css/game_base.css' %}" type="text/css">
    {% block game_css %}{% endblock game_css %}
{% endblock extra_css %}
    
{% block content %}
    <div class="d-flex justify-content-center">
        <div id="game-container"></div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        const url_CycleD = "{% url 'diary:home' %}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.90.0/dist/phaser.min.js"></script>
    {% block game_js %}{% endblock game_js %}
{% endblock %}