{% extends "games/base.html" %}
{% load static %}

{% block game_css %}
    <link rel="stylesheet" href="{% static 'games/css/run.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap" rel="stylesheet">
{% endblock game_css %}

{% block game_js %}
    <script>
        const jsonPlayers = "{% static 'games/json/run/players.json' %}";
        const imgDir = "{% static 'games/img/run/' %}";
        const jsonDir = "{% static 'games/json/run/' %}";

        const imgEnemyDir = "{% static 'games/img/run/enemy/' %}";
        const imgPlayerDir = "{% static 'games/img/run/player/' %}";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser3-rex-plugins@1.80.15/dist/rexuiplugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser-matter-collision-plugin@1.0.0/dist/phaser-matter-collision.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser-raycaster@0.10.11/dist/phaser-raycaster.min.js"></script>
    
    <script src="{% static 'games/js/run/main.js' %}" type="module"></script>
    {% comment %} <script src="{% static 'games/js/run_test.js' %}" type="module"></script> {% endcomment %}
{% endblock game_js %}