{% extends "games/base.html" %}
{% load static %}

{% block game_css %}
    <link rel="stylesheet" href="{% static 'games/css/run.css' %}" type="text/css">
{% endblock game_css %}

{% block game_js %}
    <script>
        const json_player = "{% static 'games/json/run/players.json' %}";
        const imgDir_test = "{% static 'games/img/run_test/' %}";
    </script>
    <script src="{% static 'games/js/run/main.js' %}" type="module"></script>
    {% comment %} <script src="{% static 'games/js/run_test.js' %}" type="module"></script> {% endcomment %}
{% endblock game_js %}