{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    地域選択
{% endblock title %}

{% block page_title %}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'diary/css/address_search.css' %}" type="text/css">
{% endblock extra_css %}

{% block content %}
    <div class="address-form-container">
        {% include 'diary/address_search.html' %}
        <form method="post" id="id_locationform" style="display: none;">
            {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/pagination.js' %}"></script>
    <script src="{% static 'js/loading_overlay.js' %}"></script>
    <script src="{% static 'js/searchKeys.js' %}"></script>
    {% comment %} <script src="{% static 'diary/js/address.js' %}"></script> {% endcomment %}
    <script src="{% static 'diary/js/address_search.js' %}"></script>
    <script src="{% static 'diary/js/address_user.js' %}"></script>
{% endblock %}
