{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    地域選択
{% endblock title %}

{% block page_title %}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/address.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="address-form-content">
        <div>※検索の使用上，検索結果が変わることがあります</div>
        <div class="get-current-address-form">
            <form method="post" id="get-current-address-form" name="get-current-address-form">
                <button type="button" class="get-current-address-button button_inverse m-1 p-2">現在地から地域を取得する</button>
            </form>
        </div>
        
        <div class="search-wrapper my-3">
            <div class="address-search-form">
                <form method="post" id="address-search-form" name="address-search-form">
                    {% csrf_token %}
                    {{ form.keyword }}
                    <button class="btn btn-primary mx-3" type="submit">検索</button>
                </form>
            </div>
        </div>

        <ul id="address-list-all-contents" class="p-0">
            <div id="address-list"></div>
        </ul>

        <div class="pager" id="address-list-pager"></div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/pagination.js' %}"></script>
    <script src="{% static 'js/getCookie.js' %}"></script>
    <script src="{% static 'js/loading_overlay.js' %}"></script>
    <script src="{% static 'diary/js/address.js' %}"></script>
{% endblock %}
