{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    地域選択
{% endblock title %}

{% block content %}
    <h2>キーワードから地域を探す</h2>
    <div class="get-current-address-form">
        <form method="post" id="get-current-address-form" name="get-current-address-form">
            <button type="button" class="get-current-address-button btn btn-outline-primary m-1 p-2" id="get-current-address-button" >現在地から地域を取得する</button>
        </form>
    </div>
    
    <div class="search-wrapper">
        <div class="address-search-form">
            <form method="post" id="address-search-form" name="address-search-form">
                {% csrf_token %}
                {{ form.keyword }}
                <button class="btn btn-primary m-3" type="submit">検索</button>
            </form>
        </div>
    </div>

    <ul id="address-list-all-contents">
        <div id="address-list"></div>
    </ul>

    <div class="pager" id="address-list-pager"></div>
    
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/address.css' %}" type="text/css" >
{% endblock extra_css %}


{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/pagination.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>

    <script>
        function template(dataArray){
            return dataArray.map(function(data,index){
                var html = 
                    `<form method="post" class="search-select" id="search-select${index}">
                        {% csrf_token %}
                        <input type="hidden" name="lat" value="${data.lat}">
                        <input type="hidden" name="lon" value="${data.lon}">
                        <input type="hidden" name="state" value="${data.address.state}">
                        <input type="hidden" name="display" value="${data.address.display}">
                        <button type="submit" class="list-group-item list-group-item-action boder border-3 border-light rounded-3 m-1 p-2" name="address-select-form">
                            <img src="{% static 'diary/img/location.png' %}" alt="location" width="30px" height="30px" class="ms-1 me-4">
                            ${data.address.label}
                        </button>
                    </form>`;
                return html;
            })
        }

        $(document).ready(function(){
            $("#address-search-form").submit(function(event) {
                // フォームのデフォルトの動作をキャンセル
                event.preventDefault();

                //前の検索結果を消す
                $('#address-list').children().remove();
                //Loadingアイコン表示
                var loading = '<div class="spinner-border text-dark m-4" id="address-loading" role="status"></div> '
                $('#address-list').append(loading);   
                // ここからAjaxリクエストの処理
                var csrftoken = getCookie('csrftoken');
                var form = $(this);
                
                $.ajax({
                    method: form.prop("method"),
                    url: form.prop("action"),
                    headers: {
                        "X-CSRFToken": csrftoken  // CSRFトークンも必要な場合
                    },
                    data: form.serialize() + "&" + form.attr("name"),
                    dataType: 'json',
                    timeout:15000,
                })
            
                .done(function(data) {
                    //Loadingアイコン削除
                    $('#address-loading').remove();
                
                    var formDataArray = []; // フォームデータを格納する配列
                    $.each(data.data_list, function(index, value) {
                        var formData = value
                        formDataArray.push(formData); // 配列にフォームデータを追加する
                    });
                    
                    $('#address-list-pager').pagination({
                        dataSource: formDataArray,
                        pageSize: 12,
                        pageRange: 0,
                        ellipsisText: '...',
                        prevText: '&lt; Prev',
                        nextText: 'Next &gt;',
                        callback: function(data2,pagination){
                            $('#address-list').html(template(data2));
                        }
                    });
                })

                .fail(function(jqXHR, textStatus, errorThrown) {
                    //Loadingアイコン削除
                    $('#address-loading').remove();
                    // エラーメッセージを表示
                    $('#address-list').append('<div class="alert alert-danger" role="alert">リクエストがタイムアウトしました。</div>');
                });

            });
            
            $(".get-current-address-button").on('click', function(){
                var csrftoken = getCookie('csrftoken');
                var form = $(this).parents('form');
                
                start_loading();

                function successCallback(address) {
                    var lat = address.coords.latitude;
                    var lon = address.coords.longitude;

                    $('<input>').attr({
                        'type': 'hidden',
                        'name': 'csrfmiddlewaretoken', // CSRFトークンの名前は 'csrfmiddlewaretoken' である必要があります
                        'value': csrftoken
                    }).appendTo(form);

                    $('<input>').attr({
                        'type': 'hidden',
                        'name': 'lat',
                        'value': lat
                    }).appendTo(form);
            
                    $('<input>').attr({
                        'type': 'hidden',
                        'name': 'lon',
                        'value': lon
                    }).appendTo(form);
                    
                    $('<input>').attr({
                        'type': 'hidden',
                        'name': form.prop("name"),
                        'value': ""
                    }).appendTo(form);
                    form.submit();
                    remove_loading();
                    
                }

                function errorCallback(error) {
                    remove_loading();
                    console.error('位置情報の送信に失敗しました:', error.message);
                }
                navigator.geolocation.getCurrentPosition(
                    successCallback,
                    errorCallback,
                    {
                        enableHighAccuracy: true,
                        timeout : 5000
                    });
            });

        });
    </script>
{% endblock %}
