{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    地域選択
{% endblock title %}

{% block content %}
    <h2>キーワードから地域を探す</h2>
    <div class="search-wrapper">
        <div class="address-search-form">
            <form method="post" id="address-search">
                {% csrf_token %}
                {{ form.keyword }}
                <button class="btn btn-primary m-3" type="submit">検索</button>
            </form>
        </div>
    </div>

    <ul class="list-group" id="address-list"></ul>

    <nav aria-label="pagenator-aria">
        <ul class="pagination"></ul>
    </nav>
    
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/address_search.css' %}">
{% endblock extra_css %}


{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>

    <script>
        $("#address-search").submit(function(event) {
            
            // フォームのデフォルトの動作をキャンセル
            event.preventDefault();

            //前の検索結果を消す
            $('#address-list').children().remove();
            //Loadingアイコン表示
            var loading = '<div class="spinner-border text-dark m-4" id="address-loading" role="status"></div> '
            $('#address-list').append(loading);
            // ここからAjaxリクエストの処理
            var csrftoken = getCookie('csrftoken');
            var form = $(this);
            
            $.ajax({
                method: form.prop("method"),
                url: form.prop("action"),
                headers: {
                    "X-CSRFToken": csrftoken  // CSRFトークンも必要な場合
                },
                data: form.serialize(),
                dataType: 'json',
                timeout:15000,
            })
        
            .done(function(data) {
                //Loadingアイコン削除
                $('#address-loading').remove();
                // data_list内の各オブジェクトを処理
                $.each(data.data_list, function(index, value) {
                    // オブジェクトのプロパティを取り出して表示
                    var html =  '<form method="post" class="search-select" id="search-select' + index + '">'+
                                    '{% csrf_token %}'+
                                    '<input type="hidden" name="lat" value="' + value.lat + '">'  +
                                    '<input type="hidden" name="lon" value="' + value.lon + '">'  +
                                    '<input type="hidden" name="state" value="' + value.address.state + '">'  +
                                    '<input type="hidden" name="display" value="' + value.address.display + '">'  +
                                    '<button type="submit" class="list-group-item list-group-item-action boder border-3 border-light rounded-3 m-1 p-2">'+ 
                                        '<img src="{% static 'diary/img/location.png' %}" alt="location" width="30px" height="30px" class="ms-1 me-4">' +
                                        value.address.label +
                                    '</button>'+
                                '</form>';
                    //var pagenation = ;
                    
                    $('#address-list').append(html);
                    //$('#pagination').append(pagination);
                })
            })

            .fail(function(jqXHR, textStatus, errorThrown) {
                //Loadingアイコン削除
                $('#address-loading').remove();
                // エラーメッセージを表示
                $('#address-list').append('<div class="alert alert-danger" role="alert">リクエストがタイムアウトしました。</div>');
            });

        });
        
    </script>
{% endblock %}
