{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    しんきさくせい
{% endblock title %}

{% block page_title %}
    {% comment %} <h2 class="justify-content-md-center text-center">日記メニュー</h2> {% endcomment %}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/calendar.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/address.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/diary.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="justify-content-md-center text-center"> 
            <div class="container-fluid">
                <div class="row my-md-3 my-2">
                    <h2 class="calendarTitle"></h2>
                    <div id="mycalendar"></div>
                </div>
            </div>
        </div>
        <!-- モーダルウィンドウのHTML -->
        <div class="modal fade" id="diaryModal" tabindex="-1" aria-labelledby="diaryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-normal modal-title" id="diaryModalLabel">
                            日記の作成 - <span id="selectedDate"></span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal-normal">
                        <ul id="error-normal" class="list-group"></ul>
                        <form method="post" id="diaryForm">
                            {% csrf_token %}
                            <div style="display: none;">
                                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
                                    {{ form.date }}
                                    {% if form.date.errors %}
                                        <div class="error" id="date-error">{{ form.date.errors }}</div>
                                    {% endif %}
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
                                    {{ form.comment }}
                                    {% if form.comment.errors %}
                                        <div class="error" id="comment-error">{{ form.comment.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>         
                            <!-- フォームセット全体を表示 -->
                            <div class="row">
                                <div class="col">
                                    {{ form.formset.management_form }}
                                    <table class="table table-bordered my-1" id="location-table">
                                        <thead>
                                            <tr>
                                                <th>地域</th>
                                            </tr>
                                        </thead>
                                        {% comment %} 後から追加する部分 {% endcomment %}
                                        <tbody id="formset-body"></tbody>
                                    </table>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col">
                                    <button type="submit" id="id-diary-new-button" class="btn btn-primary" name="diary-new-form">
                                        作成
                                    </button>
                                    <button type="submit" id="id-diary-edit-button" class="btn btn-primary" name="diary-edit-form" data-url="{% url 'diary:diary_edit' mock_uuid %}">
                                        変更
                                    </button>
                                    <button type="submit" id="id-diary-delete-button" class="btn btn-danger" name="diary-delete-form" data-url="{% url 'diary:diary_delete' mock_uuid %}">
                                        削除
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% comment %} 追加用フォームを作るためのempty {% endcomment %}
                        <div id="empty-form" style="display:none;">
                            {% comment %} fieldsに含まれる要素のみ取り出す {% endcomment %}
                            <div class="label-display"></div>
                            {% comment %} {% for field in form.formset.empty_form.visible_fields %} {% endcomment %}
                            {% for field in form.formset.empty_form %}
                                {{ field }}
                            {% endfor %}
                        </div>
                        <div class="modal-body address-form-content">
                            <div class="get-current-address-form">
                                <form method="post" id="get-current-address-form" name="get-current-address-form">
                                    {% csrf_token %}
                                    <button type="submit" class="button_inverse m-1 p-2" value="submit">
                                        現在地から地域を取得する
                                    </button>
                                </form>
                            </div>
                            <div class="search-wrapper my-3">
                                <div class="address-search-form">
                                    <form method="post" id="address-search-form" name="address-search-form">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            {{ form.keyword }}
                                            <button class="btn btn-primary mx-3" type="submit">検索</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <ul id="address-list-all-contents" class="p-0">
                                <div id="address-list"></div>
                            </ul>
                            <div class="pager" id="address-list-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/pagination.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    {% comment %} fullカレンダー {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script>
        // DjangoテンプレートタグでURLを埋め込む
        const url_sendDiaries = "{% url 'diary:sendDiaries' %}";
        const mockUuid = "{{ mock_uuid }}"; 
        window.hasFormErrors = {% if diary_form_errors %}true{% else %}false{% endif %};
    </script>
    <script src="{% static 'diary/js/calendar.js' %}" type="module"></script>
    <script src="{% static 'diary/js/address_diary.js' %}" type="module"></script>
{% endblock %}