{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    しんきさくせい
{% endblock title %}

{% block page_title %}
    {% comment %} <h2 class="justify-content-md-center text-center">日記メニュー</h2> {% endcomment %}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/calendar.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/flip.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container-calendar">
        <div class="justify-content-md-center text-center"> 
            <div class="container-fluid">
                <div class="row my-md-3 my-2">
                    <h2 class="calendarTitle"></h2>
                    <div id="mycalendar"></div>
                </div>
            </div>
        </div>
        <!-- モーダルウィンドウのHTML -->
        <div class="modal fade" id="diaryModal" tabindex="-1" aria-labelledby="diaryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="flip h-100">
                    <div class="position-relative">
                        <div class="modal-content flip-front">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="icon-edit ms-auto" onclick="flip_card(this)"></button>                               
                                <button type="button" class="btn-close ms-1" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="diary-content text-center"></div>
                            </div>
                        </div>
                        <div class="modal-content flip-back">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="diary-edit text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="empty-form-diary" style="display:none;">
        {% for field in form %}
            {{ field }}
        {% endfor %}
    </div>
    <div id="empty-form-locations" style="display:none;">
        {% for field in form.formset.empty_form %}
            {{ field }}
        {% endfor %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/pagination.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    {% comment %} fullカレンダー {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script>
        const url_sendDiaries = "{% url 'diary:sendDiaries' %}";
    </script>
    <script src="{% static 'diary/js/calendar.js' %}"></script>

{% endblock %}