{% extends "base.html" %}
{% load static widget_tweaks method_override %}

{% block title %}
    カレンダーで記録を確認・編集
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/calendar.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/flip.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/diary_edit.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/address_search.css' %}" type="text/css" >

    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'diary/css/address_search_modal.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container-calendar">
        <div class="justify-content-md-center text-center"> 
            <div class="container-fluid">
                <div class="row my-md-3 my-2">
                    <h2 class="calendarTitle"></h2>
                    <div id="mycalendar"></div>
                </div>
            </div>
        </div>
        <!-- モーダルウィンドウ(Diary) -->
        <div class="modal fade" id="diaryModal" tabindex="-1" aria-labelledby="diaryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="flip h-100">
                    <div class="position-relative">
                        <!-- モーダルウィンドウ(表) -->
                        <div class="modal-content flip-front">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <div class="btn-group d-flex align-items-center">
                                    <button type="button" class="button-to-edit icon-in-button">
                                        <i class="bi bi-pencil-square text-muted"></i>
                                    </button>
                                    <div>
                                        <form action="{% url 'diary:diary-detail' mock_uuid %}" method="post" id="delete-form">
                                            {% csrf_token %}
                                            {% method_override 'DELETE' %}
                                            <button type="submit" class="icon-in-button text-danger">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <button type="button" class="btn-close ms-1" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="diary-content"></div>
                            </div>
                        </div>
                        <!-- モーダルウィンドウ(裏) -->
                        <div class="modal-content flip-back">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body h-100">
                                <form method="post" id="id_diary-form" action="{% url 'diary:diary-update' mock_uuid %}">
                                    {% csrf_token %}
                                    <div class="diary-edit-container text-center">
                                        <div id="diary-locations-management-field">{{ diary.formset.management_form }}</div>
                                        <div id="diary-date-field" style="display: none;">{{ diary.date }}</div>
                                        {% comment %} 公開設定 {% endcomment %}
                                        <div class="diary-is_public-field form-check form-switch fs-5 mx-0 text-start">
                                            {{ diary.is_public|add_class:"form-check-input" }}
                                            <label class="form-check-label" for="{{ diary.is_public.id_for_label }}">
                                                {{ diary.is_public.label }}
                                            </label>
                                        </div>
                                        {% comment %} Location {% endcomment %}
                                        <div class="diary-location-field mx-auto my-2">
                                            <div class="diary-thumbnail-field mx-auto">
                                                <div class="diary-thumbnail-background d-flex align-items-center">
                                                    <img class="diary-thumbnail diary-image fade-anime" loading="lazy">
                                                </div>
                                                <button type="button" class="diary-img-rotate-button icon-in-button mb-auto mx-0 px-0">
                                                    <i class="icon-rotate text-muted"></i>
                                                </button>
                                            </div>
                                            <div class="diary-location-label-field mx-auto pt-1 pb-3"></div>
                                        </div>
                                        {% comment %} コメント {% endcomment %}
                                        <div class="diary-comment-field">
                                            {{ diary.comment }}
                                        </div>
                                    </div>
                                    <div class="diary-edit-buttons row py-3">
                                        <button type="button" class="btn btn-outline-secondary button-cancel col mx-3">Cancel</button>
                                        <button type="submit" class="btn btn-primary button-OK col mx-3">OK</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AddressSearchModal" tabindex="-1" aria-labelledby="modalAddressSearch" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalAddressSearch">
                            場所を検索して見つける
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="height: 80vh;">
                        <div class="modal-diary-img-field d-flex justify-content-center p-2" style="height: 35%;"></div>
                        <div class="modal-address-search-field">
                            {% include 'diary/address.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="empty-form-locations" style="display:none;">
        <div class="diary-location-item">
            <input type="hidden" class="location-img-url" name="location">
            <div class="location-form-hidden" style="display:none;">
                {% for field in diary.formset.empty_form %}
                    {% if field.name != 'label' %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            </div>
            <input class="diary-location-radiobutton visually-hidden" type="radio" id="location-edit-__prefix__" name="location-radio-button-edit__empty__">
            <label class="location-label w-100 text-start" for="location-edit-__prefix__">
                <div class="location-surface-field d-flex flex-grow-1 pb-1">
                    <div class="input-group d-flex align-items-center">
                        <div class="location-list-label-display w-100 ps-2"></div>
                        {{ diary.formset.empty_form.label|add_class:"w-100 form-control class_locations-label"}}
                    </div>
                    <button type="button" class="button-edit-location-label button-text d-flex align-items-center" style="font-size: 24px;">
                        <i class="iconify text-dark" data-icon="bx:rename"></i>
                    </button>
                </div>
                <div class="location-buttons-field d-flex justify-content-end">
                    <div class="d-flex align-items-center" style="font-size: 24px;">
                        <button type="button" class="button-edit-addressSearchModal button-text d-flex align-items-center">
                            <i class="iconify text-primary" data-icon="material-symbols:edit-location-alt-outline-rounded"></i>
                        </button>
                        <button type="button" class="button-delete-location button-text d-flex align-items-center">
                            <i class="iconify text-danger" data-icon="material-symbols:delete-outline-rounded"></i>
                        </button>
                    </div>
                </div>
            </label>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/pagination.js' %}"></script>
    <script src="{% static 'js/loading_overlay.js' %}"></script>
    <script src="{% static 'js/searchKeys.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'diary/js/check_input.js' %}"></script>
    {% comment %} fullカレンダー {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script>
        const url_sendDiaries = "{% url 'diary:diary-list' %}";
        const url_createDiaries = "{% url 'diary:diary_photo' %}";
        const mockUuid = "{{ mock_uuid }}"; 
    </script>
    <script src="{% static 'diary/js/adjust_imgs.js' %}"></script>

    <script src="{% static 'diary/js/address.js' %}"></script>
    <script src="{% static 'diary/js/address_in_calendar.js' %}"></script>

    <script src="{% static 'diary/js/calendar.js' %}"></script>

{% endblock %}