{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    しんきさくせい
{% endblock title %}

{% block page_title %}
    <h2>日記 新規作成</h2>
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/diary_photo.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="row"> 
            <form method="post" name="photos-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="photo_form">
                    <div class="row my-3">
                        <div class="col">
                            <label for="{{ photo_form.images.id_for_label }}">{{ photo_form.images.label }}</label>
                                {{ photo_form.images }}
                                {% if field.errors %}
                                    <div class="error">{{ photo_form.images.errors }}</div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" id="id_diary-new-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="diary_form">
                    <div id="diary-management">{{ diary_formset.management_form }}</div>
                    <div id="location-management">{{ diary_formset.empty_form.formset.management_form }}</div>
                    <div id="diary-formset-body"></div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary" name="diary-new-form">作成</button>
                    </div>
                </div>
            </form>
            <div id="empty-form-diary" style="display:none;">
                {{ diary_formset.empty_form.date }}
                {{ diary_formset.empty_form.id }}
                <div class="card">
                    <h5 class="card-header">
                        Featured
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <ul id="id_form-__prefix__-location-formset-body" class="list-group"></ul>
                        <div>
                            <label for="{{ diary_formset.empty_form.comment.id_for_label }}" class="form-label">{{ diary_formset.empty_form.comment.label }}</label>
                            {{ diary_formset.empty_form.comment }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="empty-form-location" style="display:none;">
                {% for field in diary_formset.empty_form.formset.empty_form %}
                    {% if field.name != 'label' %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <small class="helptext">{{ diary_formset.empty_form.formset.empty_form.label.help_text }}</small>
                <label for="{{ diary_formset.empty_form.formset.empty_form.label.id_for_label }}" class="form-label">{{ diary_formset.empty_form.formset.empty_form.label.label }}</label>
                {{ diary_formset.empty_form.formset.empty_form.label }}
                <i id="id_locations-__prefix__-imagePreview" class="bi bi-image icon-image" alt="icon-image"></i>
                <button type="button" class="btn p-0" onclick="">
                    <i class="bi bi-trash icon-trash" alt="icon-trash"></i>
                </button>
                
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    <script src="{% static 'diary/js/diary_photo.js' %}"></script>
    
{% endblock %}