{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    にっき
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/diary.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container text-center">
        <div class="row justify-content-md-center"> 
            <h2>日記メニュー</h2>

            <div class="my-md-3 my-2">
                <button class="button_inverse" id="ico_new_picture" onclick="location.href='{% url "diary:diary_new" %}'">
                {% comment %} <button class="button_inverse" id="ico_new" onclick="location.href='#'"> {% endcomment %}
                    写真あり
                </button>
                <div>
                    ※写真ありで書く場合，日時や場所は自動で入力されます
                </div>
            </div>

            <div class="my-md-3 my-2">
                <button class="button_inverse" id="ico_new" onclick="location.href='{% url "diary:diary_new" %}'">
                    写真なし
                </button>
            </div>

            <div class="my-md-3 my-2">
                <button class="button_inverse" id="ico_edit" onclick="location.href='{% url "diary:diary_list" %}'">
                {% comment %} <button class="button_inverse" id="ico_edit" onclick="location.href='#'"> {% endcomment %}
                    編集・削除
                </button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    
    
{% endblock %}