{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    いちらん
{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="mb-3">日記 一覧</h2>
            <ul>
                {% for diary in diaries %}
                    <li>
                        <strong>日付:</strong> {{ diary.date }}<br>
                        <strong>コメント:</strong> {{ diary.comment }}<br>
                        <strong>場所:</strong>
                        <ul>
                            {% for location in diary.locations.all %}
                                <li>{{ location.label }}</li>
                                <div>{{ location.display }}</div>
                            {% empty %}
                                <li>関連する場所がありません。</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% empty %}
                    <li>日記がありません。</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    
    
{% endblock %}