<form action="{% url 'diary:diary_write' user.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            <h1>
                {{user.name}}の日記
            </h1>
        </legend>

        {% if error_message %}
            <p><strong>
                {{error_message}}
            </strong></p>
        {% endif %}
            
            {% for diary in user.diary_set.all %}
                <input type="text" name="diary" id="diary">
                <label for="diary{{forloop.counter}}">
                    {{diary.content}}
                </label>                
            {% endfor %}
                
    </fieldset>
    <input type="submit" value="投稿">
</form>