{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    しんきさくせい
{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="row"> 
            <h2>日記 新規作成</h2>

            <form method="post">
                {% csrf_token %}
                <div class="row my-3">
                    <div class="col">
                        <button class="button_inverse" onclick="location.href='{% url "diary:address_diary_new" %}'">サイクリング先を選択する</button>
                    </div>
                    {% for field in form %}
                        <div class="row my-3">
                            <div class="col">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                    {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% if field.errors %}
                                    <div class="invalid-feedback">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col">
                        <button type="submit" class="btn btn-primary">送信</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    
    
{% endblock %}