{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    しんきさくせい
{% endblock title %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {{ form.certifications.errors }}
    
    <div class="container">
        <div class="row"> 
            <h2>日記 新規作成</h2>
            <form method="post" name="photos-form">
                {% csrf_token %}
                <div id="photo_form">
                    <div class="row my-3">
                        <div class="col">
                            <label for="{{ photo_form.image.id_for_label }}">{{ photo_form.image.label }}</label>
                                {{ photo_form.image }}
                                {% if field.errors %}
                                    <div class="error">{{ photo_form.image.errors }}</div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" name="diary-new-form">
                <div id="location_form">
                    {{ location_formset.management_form }}
                    {% for location_form in location_formset %}
                        {% for field in location_form %}
                        <div class="row my-3">
                            <div class="col">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="error">{{ field.errors }}</div>
                                    {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div id="diary_form">
                    {{ diary_formset.management_form }}
                    {% for diary_form in diary_formset %}
                        <div class="row my-3">
                            <div class="col">
                                <label for="{{ diary_form.date.id_for_label }}">{{ diary_form.date.label }}</label>
                                    {{ diary_form.date }}
                                    {% if diary_form.date.errors %}
                                        <div class="error">{{ diary_form.date.errors }}</div>
                                    {% endif %}
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col">
                            <label for="{{ diary_form.comment.id_for_label }}">{{ diary_form.comment.label }}</label>
                                {{ diary_form.comment }}
                                {% if diary_form.comment.errors %}
                                    <div class="error">{{ diary_form.comment.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">作成</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    <script src="{% static 'diary/js/diary_photo.js' %}"></script>
    
{% endblock %}