{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    しんきさくせい
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/mycalendar.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/address.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center text-center"> 
            <h2>日記メニュー</h2>
            <div class="my-md-3 my-2"> 
                <div id="mycalendar"></div>
            </div>
        </div>
        <!-- モーダルウィンドウのHTML -->
        <div class="modal fade" id="diaryModal" tabindex="-1" aria-labelledby="diaryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-normal modal-title" id="diaryModalLabel">
                            日記の作成 - <span id="selectedDate"></span>
                        </h5>
                        <h5 class="modal-errors modal-title">
                            Error
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal-errors">
                        {% if form.non_field_errors %}
                        <div id="error-form">
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% for field in form %}
                            {% if field.errors %}
                                <div id="error-field">
                                    <ul>
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-body modal-normal">
                        <div id="error-normal"></div>
                        <form method="post" id="diaryForm">
                            {% csrf_token %}
                            
                            <div style="display: none;">
                                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
                                    {{ form.date }}
                                    {% if form.date.errors %}
                                        <div class="error" id="date-error">{{ form.date.errors }}</div>
                                    {% endif %}
                            </div>
                            
                            {% comment %} <div class="row my-3">
                                <div class="col">
                                <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
                                    {{ form.comment }}
                                    {% if form.comment.errors %}
                                        <div class="error" id="comment-error">{{ form.comment.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>         {% endcomment %}
            
                            <div class="row">
                                <div class="col">
                                    <!-- フォームセット全体を表示 -->
                                    {{ form.formset.management_form }}
                                    {% comment %} 追加用フォームを作るためのempty {% endcomment %}
                                    <div id="empty-form" style="display:none;">
                                        {% comment %} fieldsに含まれる要素のみ取り出す {% endcomment %}
                                        <div class="label-value"></div>
                                        {% for field in form.formset.empty_form.visible_fields %}
                                            <p>
                                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                {{ field }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                    <table class="table table-bordered my-1" id="location-table">
                                        <thead>
                                            <tr>
                                                <th>地域</th>
                                            </tr>
                                        </thead>
                                        {% comment %} 後から追加する部分 {% endcomment %}
                                        <tbody id="formset-body">
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary" name="diary-new-form">作成</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body address-form-content">
                        <h2>キーワードから地域を探す</h2>
                        <div class="get-current-address-form">
                            <form method="post" id="get-current-address-form" name="get-current-address-form">
                                <button type="button" class="get-current-address-button button_inverse m-1 p-2">現在地から地域を取得する</button>
                            </form>
                        </div>
                        <div class="search-wrapper my-3">
                            <div class="address-search-form">
                                <form method="post" id="address-search-form" name="address-search-form">
                                    {% csrf_token %}
                                    {{ form.keyword }}
                                    <button class="btn btn-primary mx-3" type="submit">検索</button>
                                </form>
                            </div>
                        </div>
                        <ul id="address-list-all-contents" class="p-0">
                            <div id="address-list"></div>
                        </ul>
                
                        <div class="pager" id="address-list-pager"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

{% block extra_js %}
    <script>
        window.hasFormErrors = {% if form_errors %}true{% else %}false{% endif %};
    </script>
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/pagination.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    {% comment %} fullカレンダー {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script>
        // DjangoテンプレートタグでURLを埋め込む
        const url_sendDiaries = "{% url 'diary:sendDiaries' %}";
    </script>
    <script src="{% static 'diary/js/mycalendar.js' %}"></script>
    <script src="{% static 'diary/js/address_diary.js' %}"></script>
{% endblock %}