{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    ほーむぺーじ
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/home.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <div class="diary-count-field">
            {% if user.coin.timestamp %}
            <p>日記継続日数: <strong>{{user.coin.num_continue}}日</strong></p>
            <p>総コイン数: <strong>{{user.coin.num}}枚</strong></p>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
{% endblock %}