{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load custom_filters %}  <!-- カスタムフィルタを読み込む -->

{% block title %}
    ほーむぺーじ
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/home.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container-home">
        <div class="diary-count-field d-flex text-center justify-content-center row">
            <div class="col-12">当日に日記を投稿した回数が表示されます。</div>
            <div class="continue-count-container col-12 col-md-6">
                <div>日記を書いた回数: <strong>{{user.coin.num}}回</strong></div>
                <div>継続日数: <strong>{{ user.coin.num_continue }}日</strong></div>
            </div>
        </div>

        <div class="diary-list-field my-3">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <button class="nav-link active" type="button" data-bs-toggle="tab" data-bs-target="#tab_diary-myself-field">
                        {{user.username}}さんの日記
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#tab_diary-public-field">
                        全ユーザーの日記
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_diary-myself-field">
                    <div class="diary-myself-field mt-5">
                        <div class="diary-list row">
                            {% for diary in diaries_mine %}
                                <div class="card-container col-12 col-md-6 col-lg-4 mb-3">
                                    {% for loc in diary.locations.all %}
                                        {% if loc.is_thumbnail %}
                                            <div class="card card-rank{{ diary.rank }}">
                                                <div class="card-thumbnail">
                                                    <img src="{{ loc.image.url }}" alt="サムネイル" class="thumbnail-img" onclick="zoom_image('{{ loc.image.url }}')">  <!-- 画像を表示 -->
                                                    <button type="button" class="diary-edit-button" onclick="diary_edit('{{diary}}')"></button>
                                                </div>
                                                <div class="card-body">
                                                    <div class="card-locations">
                                                        {{ loc.label }}
                                                    </div>
                                                    <div class="card-date">
                                                        <div class="card-explanation">
                                                            {{ diary.date|days_ago }}  <!-- 日付を「何日前」形式で表示 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% empty %}
                            <div class="row justify-content-center text-center">
                                <img src="{% static 'diary/img/sabori_man.png' %}" class="col-4" alt="サボり人">
                                <p>まだ日記が登録されていません</p>
                                <a href="{% url 'diary:diary_photo' %}">日記作成はここから</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_diary-public-field">
                    <div class="diary-public-field mt-5">
                        <div class="diary-list row">
                            {% for diary in diaries_public %}
                                <div class="card-container col-12 col-md-6 col-lg-4 mb-3">
                                    <div class="card">
                                        <div class="card-thumbnail" onclick="zoom_image('{{ diary.image }}')">
                                            <img src="{{ diary.image }}" alt="サムネイル" class="thumbnail-img">  <!-- 画像を表示 -->
                                        </div>
                                        <div class="card-body">
                                            <div class="card-user">
                                                <img src="{{ diary.user.icon_url}}" class="rounded-circle bg-white" width="30" height="30" alt="icon" loading="lazy">
                                                <span class="card-explanation px-2">{{ diary.user.username }}</span>
                                            </div>
                                            <div class="card-date">
                                                <div class="card-explanation">
                                                    {{ diary.date|days_ago }}  <!-- 日付を「何日前」形式で表示 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                            <div class="row justify-content-center text-center">
                                <img src="{% static 'diary/img/sabori_man.png' %}" class="col-4" alt="サボり人">
                                <p>まだ日記が登録されていません</p>
                                <p>あなたが最初のユーザーになるチャンス！</p>
                                <a href="{% url 'diary:diary_photo' %}">日記作成はここから</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="imageModalContainer" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="ms-auto">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img id="modalImage" src="" alt="サムネイル拡大表示" class="zoom_image">  <!-- モーダルで表示する画像 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    <script src="{% static 'diary/js/home.js' %}"></script>
{% endblock %}