{% extends "diary/base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    ほーむぺーじ
{% endblock title %}
    
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col my-title">
                <h1>Welcome to さいくるにっき{{user.username}}さん</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my-content">
                <h3>今日の天気</h3>
                <p id="location-info">位置情報はここに表示されます。</p>
            </div>
            <div class="col-md-6 my-content">
                <h3>明日の天気</h3>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script>

    </script>
{% endblock %}