{% extends "diary/base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    ログイン
{% endblock title %}

{% block page_title %}
    <h2>ログイン</h2>
{% endblock page_title %}

    
{% block content %}
  <div class="container-fluid">
    {{ form.certifications.errors }}
    <form method="post">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
        
      <div class="row">
        <div class="col-auto">
          <button class="btn btn-primary" type="submit">送信</button>
        </div>
      </div>
    </form>

    <div class="row">
      アカウントをお持ちでない方
    </div>
    <a href="{% url 'diary:signup' %}">新規登録</a>
  </div>

{% endblock content %}