{% extends "diary/base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    ログイン
{% endblock title %}

{% block page_title %}
  <h2>ログイン</h2>
{% endblock page_title %}

    
{% block content %}
    {{ form.certifications.errors }}
    <form method="post">
      <table>
        {{form.as_table}}
      </table>
      {% csrf_token %}
      <input type="submit" value="送信">
    </form>

    <p class="">
      アカウントをお持ちでない方
    </p>
    <a href="{% url 'diary:signup' %}">新規登録</a>

{% endblock content %}