{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block title %}
    ログイン
{% endblock title %}

{% block page_title %}
    <h2>ログイン</h2>
{% endblock page_title %}

    
{% block content %}
    <div class="container-fluid">
        {{ form.certifications.errors }}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field |add_class:"w-100 my-3"}}
                    {% if field.errors %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">送信</button>
                </div>
            </div>
        </form>

        <div class="row my-3">
            <text>アカウントをお持ちでない方</text>
            <a href="{% url 'diary:signup' %}">新規登録</a>
        </div>

        <div class="row my-3">
            <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-outline-info py-3">
                <strong>
                    <i class="bi bi-google me-3"></i>Googleでログイン
                </strong>
            </a>
        </div>
        
    </div>
{% endblock content %}