{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    とっぷぺーじ
{% endblock title %}
    
{% block content %}
    <div class="container-top mt-5">
        <div class="row">
            <div class="col">
                <h2>Welcome to ちゃりニキ</h2>
                <p>ちゃりニキは日々のサイクリングを日記として記録に残すことで</p>
                <p>日々の運動の継続をサポートする目的でつくられたサイトです</p>
                <p>移動先の写真を添付することで自動的に移動距離を計算します</p>
                <p>サイクリングの他にも日々持続したいことに対して日記をつけるのもありです</p>
                <a href="{% url 'accounts:login' %}">ログイン</a>
            </div>
        </div>
    </div>

    
{% endblock content %}

{% block extra_js %}
{% endblock %}