{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    マイページ
{% endblock title %}
    
{% block page_title %}
{% endblock page_title %}

{% block content %}
    <div class="container-userprofile">
        <div class="userprofile-field row">
            <div class="text-center">
                <img src="{{user.icon_url}}" class="rounded-circle border border-dark w-30" alt="icon" loading="lazy">
                <h1 class="my-3"> {{ user.username }}</h1>
            </div>
        </div>
        <div class="setting-field">
            <div>
                <div class="text-center">
                    <button type="button" id="delete-all-diaries" class="btn btn-outline-danger">日記をすべて削除</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script>
        const url_deleteAllDiaries = "{% url 'diary:delete_all_diaries' %}";
    </script>
    <script src="{% static 'diary/js/user_profile.js' %}"></script>

{% endblock %}