{% extends "diary/base.html" %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'diary/css/style.css' %}">
{% endblock %}

{% block title %}
    利用者一覧
{% endblock title %}
    
{% block content %}
    {% if user_list %}
        <ul>
            {% for user in user_list %}
                <li>
                    <a href="{% url 'diary:user_detail' user.id %}">
                        {{user.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No users are available.</p>
    {% endif %}
{% endblock content %}