{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load diary_filters %}

{% block title %}
    天気よほー
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/weather.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container">
        {% if not user.location %}
            <div>
                <p>お気に入りの場所が登録されていません</p>
                <p>お気に入りの場所を登録することで天気を見ることができます</p>
                <a href={% url "diary:address_user" %} class="btn btn-outline-primary">
                    <i class="iconify fs-2" data-icon="material-symbols:location-on-outline"></i>
                    <span class="px-2">
                        新しく登録する
                    </span>
                </a>
            </div>
        {% else %}        
        <div class="current-wearher-container">
            {% with current=weather.current %}             
            <div class="card card-current-weather" style="border-radius: 35px;">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <h6 class="class_city-name flex-grow-1">
                            <span class="d-flex align-items-center">
                                <text class="pe-1">{{ user.location.display }}</text>
                                <a href="{% url 'diary:address_user' %}">
                                    <i class="iconify fs-3" data-icon="material-symbols:edit-location-alt-outline"></i>
                                </a>
                            </span>                        
                        </h6>
                        <h6 class="class_latest-time">
                            <span>{{ current.time|date:"G:i" }}</span>
                        </h6>
                    </div>
        
                    <div class="d-flex flex-column text-center mt-5 mb-4">
                        <h5 class="display-4 mb-0" style="color: #1C2331;">
                            <span class="class_tempareture">
                                {{ current.temperature_2m }}°C
                            </span>
                        </h5>
                        <span class="class_weathe small">
                            {% if current.is_day %}
                                {{ current.weather_day_ja }}
                            {% else %}
                                {{ current.weather_night_ja }}
                            {% endif %}    
                        </span>
                    </div>
        
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1" style="font-size: 1rem;">
                            <div class="d-flex align-items-center">
                                <i class="iconify fs-3 text-muted" data-icon="material-symbols:air"></i>
                                <span class="class_wind-speed ms-2"> {{ current.wind_speed_10m }} m/s</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="iconify fs-3 text-info" data-icon="material-symbols:water-drop"></i>
                                <span class="ms-2"> {{ current.relative_humidity_2m }} %</span>
                            </div>
                        </div>
                        <div>
                            {% with weather_data=meteocons|get_item:current.weather_code %}
                                {% if current.is_day %}
                                    <object data="{% static 'diary_weather_report/img/'|add:weather_data.day.image %}" type="image/svg+xml" width="100" height="100"></object>
                                {% else %}
                                    <object data="{% static 'diary_weather_report/img/'|add:weather_data.night.image %}" type="image/svg+xml" width="100" height="100"></object>
                                {% endif %}
                            {% endwith %}                        
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
        <div class="hours-weather-container">
            <table class="table text-center align-middle my-3">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="p-0"></th>
                        <th scope="col" class="p-0">
                            <i class="iconify" data-icon="meteocons:thermometer-celsius" style="font-size: 2.5rem;"></i>
                        </th>
                        <th scope="col" class="p-0">
                            <i class="iconify" data-icon="meteocons:wind-fill" style="font-size: 2.5rem;"></i>
                        </th>
                        <th scope="col" class="p-0">
                            <i class="iconify" data-icon="meteocons:windsock-fill" style="font-size: 2.5rem;"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in weather.hourly %}
                        {% if data.time.hour == 0 %}
                            <tr class="table-active">
                                <th colspan="5">{{ data.time|date:"j" }}日</th>
                            </tr>
                        {% endif %}
                        <tr>
                            <th scope="row" class="py-0">{{ data.time|date:"G" }}</th>
                            <td class="py-0">
                                {% with weather_data=meteocons|get_item:data.weather_code %}
                                    {% if data.is_day %}
                                        <object data="{% static 'diary_weather_report/img/'|add:weather_data.day.image %}" type="image/svg+xml" width="50" height="50"></object>
                                    {% else %}
                                        <object data="{% static 'diary_weather_report/img/'|add:weather_data.night.image %}" type="image/svg+xml" width="50" height="50"></object>
                                    {% endif %}
                                {% endwith %}
                            </td>

                            <td class="py-0">{{ data.temperature_2m }}°C</td>
                            <td class="py-0">{{ data.wind_speed_10m }} m/s</td>
                            <td class="py-0">
                                <i class="iconify fs-3" data-icon="mage:direction-up" style="rotate: {{ data.wind_direction_10m|add:180 }}deg;"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/loading_overlay.js' %}"></script>
    <script src="{% static 'diary/js/weather.js' %}"></script>
{% endblock %}