{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    天気よほー
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/weather.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container">
        {% if not user.location %}
            <div>
                <p>お気に入りの場所が登録されていません</p>
                <p>お気に入りの場所を登録することで天気を見ることができます</p>
                <a href={% url "diary:address_user" %} class="btn btn-outline-primary">
                    <i class="iconify fs-2" data-icon="material-symbols:location-on-outline"></i>
                    <span class="potta-one-regular px-2">
                        新しく登録する
                    </span>
                </a>
            </div>
        {% else %}        
        <div class="current-wearher-container">
            <div class="card card-current-weather" style="border-radius: 35px;">
                <div class="card-body p-4">
                <div class="d-flex">
                    <h6 class="class_city-name flex-grow-1">練馬氏</h6>
                    <h6 class="class_latest-time">29:11</h6>
                </div>
    
                <div class="d-flex flex-column text-center mt-5 mb-4">
                    <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">
                        <span class="class_tempareture">13°C</span>
                    </h6>
                    <span class="class_weathe small">はれ</span>
                </div>
    
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1" style="font-size: 1rem;">
                        <div class="d-flex align-items-center">
                            <i class="iconify fs-3" data-icon="material-symbols:air"></i>
                            <span class="class_wind-speed ms-2"> 40 m/s</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="iconify fs-3" data-icon="material-symbols:water-drop"></i>
                            <span class="ms-2"> 84 %</span>
                        </div>
                    </div>
                    <div>
                        <i class="iconify" data-icon="meteocons:rain-fill" style="font-size: 100px;"></i>
                    </div>
                </div>
    
                </div>
            </div>
        </div>
        <div class="72h-weather-container">

        </div>
        <a href={% url "diary:address_user" %} class="btn btn-outline-primary">
            <i class="iconify fs-2" data-icon="material-symbols:moved-location"></i>
            <span class="potta-one-regular px-2">
                お気に入りの場所を変更する
            </span>
        </a>
        {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/loading_overlay.js' %}"></script>
    <script src="{% static 'diary/js/weather.js' %}"></script>
{% endblock %}