{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load diary_filters %}  <!-- カスタムフィルタを読み込む -->

{% block title %}
    ほーむぺーじ
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flip_card.css' %}" type="text/css">
{% endblock extra_css %}

{% block content %}
    <div class="container-home row">

        <div class="diaryinformation-field mb-4 row">
            <div class="card-flip-container col-lg-9 col-12 mx-auto">
                <div class="card-flip">
                    <!-- 表面 -->
                    <div class="card card-front">
                        <div class="card-header fs-6 text-center fw-bold text-secondary">
                            作成した日記の数
                        </div>
                        <div class="card-body py-2">
                            <div class="row text-center py-2 fs-6">
                                <div class="col-6">
                                    <div class="text-muted fw-bolder">総合計</div>
                                    <div class="fw-bold">
                                        <span class="fs-4">{{ diary_count }}</span> コ
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-muted fs-6 fw-bolder">当日作成</div>
                                    <div class="fw-bold">
                                        <span class="fs-4">{{ diary_count_ontheday }}</span> コ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 裏面 -->
                    <div class="card card-back">
                        <div class="card-body row text-center py-2">
                            <div class="text-muted fs-5 fw-bolder d-flex align-items-center justify-content-center">
                                <span>コイン枚数</span>
                            </div>
                            <div class="fs-6 fw-bold d-flex align-items-center justify-content-center pb-2">
                                <img src="{% static 'diary/img/coin_icon.gif' %}" alt="coin" style="height: 3.5em; vertical-align: middle;">
                                <div style="vertical-align: bottom;">
                                    <span class="fs-4 pe-1">{{ user.coin.num }}</span>枚
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="diary-list-field my-3">
            <ul class="nav nav-tabs nav-fill d-flex flex-nowrap" role="tablist">
                <li class="nav-item flex-shrink-0" role="presentation">
                    <button class="nav-link active" type="button" data-bs-toggle="tab" data-bs-target="#tab_diary-myself-field">
                        {{user.username}}の日記
                    </button>
                </li>
                <li class="nav-item flex-shrink-0" role="presentation">
                    <button class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#tab_diary-public-field">
                        みんなの日記
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_diary-myself-field">
                    <div class="diary-myself-field mt-5">
                        <div class="diary-list row">
                            {% for data in diaries_mine %}
                                <div class="card-container col-12 col-md-6 col-lg-4 my-2">
                                    {% for loc in data.diary.locations.all %}
                                        {% if loc.is_thumbnail %}
                                            <div class="card card-rank{{ data.diary.rank }}">
                                                <div class="card-thumbnail">
                                                    <img src="{{ loc.image.url }}" alt="サムネイル" class="thumbnail-img" style="transform: rotate({{ loc.rotate_angle }}deg);" onclick="zoom_image('{{ loc.image.url }}','{{ loc.rotate_angle }}')">  <!-- 画像を表示 -->
                                                    <a class="to-calendar-button" href="{% url 'diary:calendar' %}?diary_date={{ data.diary.date|date:"Y-m-d" }}"></a>
                                                    <button type="button"
                                                            class="is_public btn btn-sm btn-outline-secondary"
                                                            data-ispublic="{{ data.diary.is_public }}"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            title="{{ data.diary.is_public|yesno:'公開されています,非公開です' }}">
                                                    </button>

                                                </div>
                                                <div class="card-body row">
                                                    <div class="card-diaryinfo col-9">
                                                        <div class="row">
                                                            <div class="card-locations">
                                                                {{ loc.label }}
                                                            </div>
                                                            <div class="card-date">
                                                                <div class="card-explanation">
                                                                    {{ data.diary.date|days_ago }}  <!-- 日付を「何日前」形式で表示 -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-good col-3 d-flex justify-content-center align-items-center">
                                                        <i class="icon-goodcount"></i>
                                                        <span class="good-count">{{ data.good_count }}</span>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% empty %}
                            <div class="row justify-content-center text-center">
                                <img src="{% static 'diary/img/sabori_man.png' %}" class="col-4" alt="サボり人">
                                <p>まだ日記が登録されていません</p>
                                <a href="{% url 'diary:diary_photo' %}">日記作成はここから</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_diary-public-field">
                    <div class="diary-public-field mt-5">
                        <div class="diary-list row">
                            {% for diary in diaries_public %}
                                <div class="card-container col-12 col-md-6 col-lg-4 my-2">
                                    <div class="card">
                                        <div class="card-thumbnail">
                                            <img src="{{ diary.image }}" alt="サムネイル" class="thumbnail-img" style="transform: rotate({{ diary.rotate_angle }}deg);" onclick="zoom_image('{{ diary.image }}','{{ diary.rotate_angle }}')">  <!-- 画像を表示 -->
                                        </div>
                                        <div class="card-body row">
                                            <div class="card-userinfo col-9">
                                                <div class="row">
                                                    <div class="card-user">
                                                        <img src="{{ diary.user.icon_url}}" class="rounded-circle bg-white border" width="30" height="30" alt="icon" loading="lazy">
                                                        <span class="card-explanation px-2">{{ diary.user.username }}</span>
                                                    </div>
                                                    <div class="card-date">
                                                        <div class="card-explanation">
                                                            {{ diary.date|days_ago }}  <!-- 日付を「何日前」形式で表示 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-good col-3 d-flex justify-content-center align-items-center">
                                                <button class="toggle-diary-good icon-in-button" type="button" data-url="{% url 'diary:good-toggle' pk=diary.diary_id %}">
                                                    <i class="icon-liked" data-liked="{{ diary.liked|lower }}"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                            <div class="row justify-content-center text-center">
                                <img src="{% static 'diary/img/sabori_man2.png' %}" class="col-4" alt="サボり人">
                                <p>あなた以外の最近の投稿がここに表示されます</p>
                                <p>まだ誰も日記を書いていないようです</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal scale-up-center" id="imageModalContainer" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="pseudo-modal-header ms-auto">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img id="modalImage" src="" alt="サムネイル拡大表示" class="zoom_image">  <!-- モーダルで表示する画像 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/loading_overlay.js' %}"></script>
    <script src="{% static 'js/tooltip.js' %}"></script>
    <script src="{% static 'js/flip_card.js' %}"></script>
    <script src="{% static 'diary/js/adjust_imgs.js' %}"></script>
    <script src="{% static 'diary/js/home.js' %}"></script>
{% endblock %}