{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static diary_filters %}

{% block title %}
    天気よほー
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/weather.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container">
        {% comment %} 登録なし {% endcomment %}
        {% if not user.location %}
            <div class="row">
                <div class="col-lg-9 col-12 mx-auto">
                    <div class="card text-center shadow" style="border-radius: 35px;">
                        <div class="card-body p-4">
                            <i class="iconify fs-1 mb-3 text-primary" data-icon="material-symbols:location-off-outline"></i>
                            <h5 class="card-title"><strong>お気に入りの場所が登録されていません</strong></h5>
                            <p class="card-text text-muted">
                                お気に入りの場所を登録することで、<br>天気情報を確認できるようになります。
                            </p>
                            <a href="{% url 'diary:address_user' %}" class="btn btn-primary btn-lg mt-3">
                                <div class="d-flex align-items-center">
                                    <i class="iconify me-3 fs-2" data-icon="material-symbols:add-location-alt-rounded"></i>
                                    <span class="potta-one-regular">新しく登録する</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        {% comment %} 登録あり {% endcomment %}
        <div class="current-wearher-container">
            {% comment %} 現在 {% endcomment %}
            {% with current=weather.current %}             
            <div class="card card-current-weather shadow" style="border-radius: 35px;">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <h6 class="class_city-name flex-grow-1">
                            <span class="d-flex align-items-center">
                                <text class="pe-1">{{ user.location.display }}</text>
                                <a href="{% url 'diary:address_user' %}">
                                    <i class="iconify fs-3" data-icon="material-symbols:edit-location-alt-outline"></i>
                                </a>
                            </span>                        
                        </h6>
                        <div class="class_current-time">
                            <span class="fs-2 fw-bold">{{ current.time|date:"G:i" }}</span>
                        </div>
                    </div>
        
                    <div class="d-flex flex-column text-center mt-5 mb-4">
                        <h5 class="display-4 mb-0 fw-bold" style="color: #1C2331;">
                            <span class="class_tempareture">
                                {{ current.temperature }}°C
                            </span>
                        </h5>
                        <span class="class_weather text-muted small">
                            {{ current.weather }}
                        </span>
                    </div>
        
                    <div class="d-flex align-items-end">
                        <div class="flex-grow-1" style="font-size: 1rem;">
                            <h6 class="d-flex align-items-center">
                                <i class="iconify fs-4" data-icon="mage:direction-up" 
                                    style="rotate: {{ current.wind_direction|add:180 }}deg; 
                                        color: {% if current.wind_speed >= 10 %} red 
                                                {% elif current.wind_speed >= 5 %} orange
                                                {% else %} skyblue {% endif %};"></i>
                                <span class="class_wind-speed ms-2"> {{ current.wind_speed }} m/s</span>
                            </h6>
                            <h6 class="d-flex align-items-center mt-2">
                                <i class="iconify fs-3 text-info" data-icon="material-symbols:water-drop"></i>
                                <span class="ms-2"> {{ current.humidity }} %</span>
                            </h6>
                        </div>
                        <div>
                            {% with weather_data=openweather|get_item:current.weather_icon %}
                                <object data="{% static 'diary_weather_report/img/'|add:weather_data.image %}" type="image/svg+xml" width="100" height="100"></object>
                            {% endwith %}                        
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
        {% comment %} 5日間 {% endcomment %}
        <div class="hours-weather-container">
            <table class="table text-center align-middle my-3">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="p-0"></th>
                        <th scope="col" class="p-0">
                            <i class="iconify" data-icon="meteocons:thermometer-celsius" style="font-size: 2.5rem;"></i>
                        </th>
                        <th scope="col" class="p-0">
                            <i class="iconify" data-icon="meteocons:wind-fill" style="font-size: 2.5rem;"></i>
                        </th>
                        <th scope="col" class="p-0">
                            <i class="iconify" data-icon="meteocons:windsock-fill" style="font-size: 2.5rem;"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in weather.hourly %}
                        {% if data.time.hour == 0 %}
                            {% if data.time|is_sunday %}
                                <tr class="table-danger">
                            {% elif data.time|is_holiday %}
                                <tr class="table-warning">
                            {% elif data.time|is_saturday %}
                                <tr class="table-primary">
                            {% else %}
                                <tr class="table-secondary">
                            {% endif %}
                                    <th colspan="5">{{ data.time|date:"j日 (D)" }}</th>
                                </tr>
                        {% endif %}
                        <tr>
                            <th scope="row" class="py-0">{{ data.time|date:"G" }}時</th>
                            <td class="position-relative py-0">
                                {% with weather_data=openweather|get_item:data.weather_icon %}
                                    <object data="{% static 'diary_weather_report/img/'|add:weather_data.image %}" type="image/svg+xml" width="50" height="50"></object>
                                {% endwith %}
                                {% comment %} 雨が降る場合，確率をのせる {% endcomment %}
                                {% if data.chance_of_rain %}
                                    <span class="chance_of_rain">{{ data.chance_of_rain }} %</span>
                                {% endif %}
                            </td>

                            <td class="py-0">{{ data.temperature }}°C</td>
                            <td class="py-0">{{ data.wind_speed }} m/s</td>
                            <td class="py-0">
                                <i class="iconify fs-4" data-icon="mage:direction-up" 
                                    style="rotate: {{ data.wind_direction|add:180 }}deg; 
                                        color: {% if data.wind_speed >= 10 %} red 
                                                {% elif data.wind_speed >= 5 %} orange
                                                {% else %} skyblue {% endif %};"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock content %}

{% block extra_js %}
{% endblock %}