{% extends "base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block title %}
    {% trans "ログイン" %}
{% endblock title %}

{% block page_title %}
    <h2>ログイン</h2>
{% endblock page_title %}

    
{% block content %}
    <div class="container-fluid">
        {{ form.certifications.errors }}
        <form method="post">
            {% csrf_token %}
                {% for field in form %}
                    {% if field.name == "remember" %}
                    <div class="form-group field">
                        <label for="{{ field.id_for_label }}">{{field.label}} {{ field }}</label>
                    </div>
                
                    {% else %}
                    <div class="form-group field">
                        {{ field | add_class:"form-control"}}
                    </div>
                    {% endif %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="alert-message">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit">送信</button>
                </div>
            </div>
        </form>
        <div>
            <a href="{% url 'account_reset_password' %}">{% trans "パスワードを忘れましたか？" %}</a>
        </div>
        <div class="row my-3">
            <text>アカウントをお持ちでない方</text>
            <a href="{% url 'accounts:signup' %}">新規登録</a>
        </div>

        <div class="row my-3">
            <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-outline-info py-3">
                <strong>
                    <i class="bi bi-google me-3"></i>Googleでログイン
                </strong>
            </a>
        </div>
        
    </div>
{% endblock content %}