{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load accounts_filters %}

{% block title %}
    マイページ
{% endblock title %}
    
{% block page_title %}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/setting.css' %}" type="text/css">
{% endblock extra_css %}

{% block content %}
    <div class="container-setting mx-2">
        <div class="userprofile-field my-3 row">
            <div class="usericon-field col-md-3 col-12 mb-2">
                <div class="position-relative d-inline-block">
                    <img src="{{user.icon_url}}" class="border border-dark" alt="icon" loading="lazy">
                    <button class="usericon-edit-button">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </div>
            <!-- ユーザー情報（table形式） -->
            <div class="userinformation-field col-md-9 col-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{user|verbose_name:"username"}}</th>
                            <td rowspan="2" class="align-middle">
                                <button class="usericon-edit-button">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>{{user|verbose_name:"email"}}</th>
                            <td rowspan="2" class="align-middle">
                                <button class="usericon-edit-button">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{user|verbose_name:"date_joined"}}</th>
                            <td rowspan="2"></td>
                        </tr>
                        <tr>
                            <td>{{ user.date_joined|date:"Y年m月d日" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="setting-field">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'accounts:password_change' %}">パスワードを変更する</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-danger fw-bold" onclick="deleteAllDiaries()" role="button">
                            日記をすべて削除する
                        </td>
                    </tr>
                    <tr>
                        <form action="{% url 'accounts:user_delete' %}" method="post" id="delete-user-form">
                            {% csrf_token %}
                            <td class="text-danger fw-bold" onclick="confirmDelete()" role="button">
                                退会する
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/getCookie.js' %}"></script>
    <script>
        const url_deleteAllDiaries = "{% url 'diary:delete_all_diaries' %}";
    </script>
    <script src="{% static 'accounts/js/setting.js' %}"></script>

{% endblock %}