{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n static %}
{% load widget_tweaks %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/signup.css' %}" type="text/css" >
{% endblock extra_css %}

{% block title %}
    {% trans "新規アカウント作成" %}
{% endblock title %}

{% block page_title %}
    <h2>新規アカウント作成</h2>
{% endblock page_title %}
    
{% block content %}
    {{ form.certifications.errors }}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3 col-md-4">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field}}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">送信</button>
    </form>
{% endblock content %}