.paginationjs-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
	flex-wrap: wrap; /* 小さな画面で改行されるようにする */
	width: 100%; /* ページネーション全体の幅を100%に設定 */
    margin: 0 auto; /* ページネーションを中央に配置 */
    overflow: hidden; /* 横方向のオーバーフローを非表示にする */
}

.paginationjs-pages ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paginationjs-pages li {
    margin-right: 5px;
}

.paginationjs-pages li:not(:first-child, :last-child) {
	padding: .5em;
}

.paginationjs-pages li a {
    text-decoration: none;
    color: #007bff; /* Bootstrapのリンク色に合わせる */
    padding: 0.5rem 0.75rem; /* Bootstrapのボタンのパディングに合わせる */
    border: 1px solid #dee2e6; /* Bootstrapのボタンのボーダーに合わせる */
    border-radius: 0.25rem; /* Bootstrapのボタンの角丸に合わせる */
	cursor: pointer;
}

.paginationjs-pages .active a {
    background-color: #007bff; /* Bootstrapのアクティブリンクの背景色に合わせる */
    color: #fff; /* アクティブリンクの文字色を白に設定 */
    border-color: #007bff; /* Bootstrapのアクティブリンクのボーダー色に合わせる */
}

.paginationjs-pages li a:hover {
    background-color: #bdbdbd; /* ボタンの背景色を変更 */
    color: #007bff; /* ボタンのテキスト色を変更 */
}
