/* カレンダー中のaの下線+青文字を消す */
.fc a {
    color: inherit; /* 親要素の色を継承 */
    text-decoration: none; /* 下線を削除 */
}
.fc-daygrid-day-number {
    color: black; /* 日付の色を黒に戻す */
    text-decoration: none; /* 下線を削除 */
}
/* 幅 */
.fc-header-toolbar,
.fc-view-harness,
.fc-col-header, .fc-daygrid-body, .fc-scrollgrid-sync-table{
	width: 100%;
	max-width: 1000px;
}

#mycalendar{
	align-items : center;
    position: relative;
    height: 100%; /* 高さを自動調整 */
    margin-bottom: 20px;  /* 下部に少し余白を追加 */
    padding: 10px;  /* 必要に応じてカレンダー内にパディングを追加 */
}

#mycalendar td.fc-daygrid-day:not(.fc-day-future) {
    cursor: pointer; /* カーソルをポインタに設定 */
}
/* 日曜日 */
#mycalendar td.fc-day-sun {
    color: crimson;
}
/*祝日のセル*/
#mycalendar td.fc-daygrid-day:has(.holiday){
	color: crimson;
}
#mycalendar .holiday{
    color: crimson; /* 祝日タイトルの色 */
    font-weight: bold; /* 太字 */
    font-size: .8em;
    white-space: pre-line; /* 改行文字を反映させる */
    background-color: transparent; /* 背景を透明にする */
}
@media (max-width: 768px) { /* 画面幅768px以下の場合 */
    #mycalendar .fc-event.holiday {
      display: none; /* 祝日イベントを非表示に */
    }
}

/* 土曜日 */
#mycalendar td.fc-day-sat {
    color: blue;
}
/* 今日 */
#mycalendar td.fc-day-today {
    background-color: #ffffcc; 
}
/* サイクル日 */
#mycalendar .diary-event {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* カーソルをポインタに設定 */
}
#mycalendar .diary-event .fc-event-title::before {
    content: "\e52f"; /* Unicode for the icon */
    font-family: 'Material Icons'; /* Material Iconsフォント */
    color: #1B85FB;
    font-size: 1.5em;
}
/* ランク0の表示方法 */
#mycalendar .diary-event.diary-rank-0 .fc-event-title::before {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: gold;
}
/* スマートフォンや小さい画面用のスタイル */
@media (max-width: 767px) {
    #mycalendar {
        font-size: 8px; /* 文字サイズを小さく */
        margin-bottom: 0;  
        padding: 0;
    }
    #mycalendar .fc-daygrid-day-number {
        padding: 2px;
    }
    #mycalendar .fc-event {
        font-size: 10px;  /* イベントの文字サイズを小さくする */
        padding: 0;  /* イベントの余白を小さくする */
    }
    #mycalendar .diary-event .fc-event-title::before {
        font-size: 1em;
    }
}

/**** モーダルウィンドウ ****/
/* #diaryModal .address-form-content{
    display: none;
} */
#diaryModal .modal-dialog {
    height: 90vh; /* モーダル全体の高さを90vhに設定 */
    min-height: 700px;
}
