/* 
.button_inverse {
  padding: 1em;
  font-size: 4vmin;
  width: 60vw;
  
  border:0.1em solid rgb(58, 171, 210);
  color:  rgba(58, 171, 210);
}
.button_inverse:hover {
  border:0.1em solid rgb(58, 171, 210);
  background-color: rgb(58, 171, 210);
} */

#ico_new::before {
  background-image: url("../img/diary_new1.png"); /* ここに画像のURLを指定 */
}
#ico_new:hover::before {
  background-image: url("../img/diary_new2.png"); /* ここに画像のURLを指定 */
}
#ico_new_picture::before {
  background-image: url("../img/diary_new_picture1.png"); /* ここに画像のURLを指定 */
}
#ico_new_picture:hover::before {
  background-image: url("../img/diary_new_picture2.png"); /* ここに画像のURLを指定 */
}
#ico_edit::before {
  background-image: url("../img/diary_edit1.png"); /* ここに画像のURLを指定 */
}
#ico_edit:hover::before {
  background-image: url("../img/diary_edit2.png"); /* ここに画像のURLを指定 */
}

