/* 日記日数 */
.continue-count-container {
    border-radius: 5px;       
    background-color: #e9f7ff; 
    padding: 20px 10px;
    margin: 10px 0;          
    font-size: 1.2em;        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    transition: transform 0.2s; /* ホバー時のアニメーション */
    text-align: center;
}
.continue-count-container:hover {
    transform: scale(1.02); /* ホバー時に少し拡大 */
}

/* タブ */
.nav-tabs .nav-link {
    background-color:darkgray;
    color: white; /* 文字色（未選択の状態でも同じ文字色） */
}
/* アクティブなタブ */
.nav-tabs .nav-link.active {
    border-right-color: black;
    border-top-color: black;
    border-left-color: black;
    background-color: transparent; /* 背景色なし */
    color: black; /* アクティブ時も文字色を変更しない */
    font-weight: bold; /* 文字を太字にする */
}

/* 日記一覧の外側 */

/* 日記一覧 */
.diary-list .card {
    aspect-ratio: 6 / 5;
    display: flex;
    flex-direction: column;  /* 縦に並べる */
    justify-content: space-between;  /* 上下の間隔を均等に */
    height: 100%;  /* 高さを100%にして親要素に合わせる */
    border: none;
}
.diary-list .card .thumbnail-img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;  /* 画像を適切にトリミング */
    border-radius: 10px;
    cursor: pointer;
}
.diary-list .card .card-body {
    padding-top: 10px;
}
.diary-list .card .card-locations {
    overflow: hidden;
    display: -webkit-box;
    display: box; /* 一部の古いブラウザでの対応 */
    -webkit-line-clamp: 1; /* 最大2行に制限 */
    line-clamp: 1; /* ベンダープレフィックスなしの標準プロパティ */
    -webkit-box-orient: vertical;
    box-orient: vertical; /* 一部の古いブラウザでの対応 */
    line-height: 1.4; /* 行間の調整（任意） */
    text-overflow: ellipsis;
}
.diary-list .card .card-explanation {
    font-weight: bold;
    font-size: 0.8em;  /* 小さめのフォントサイズ */
    color: black;       /* グレー系の薄い色 */
    margin: 5px 0;     /* 余白を小さく */
    line-height: 1.4;  /* 行間を少し広めに */
}

/* ユーザーの画像の場合、画像内にEditボタンを追加する */
.diary-myself-field .diary-list .card .card-thumbnail {
    position: relative; 
    display: inline-block;
}
.diary-myself-field .diary-list .card .diary-edit-button{
    position: absolute; 
    top: 5%;
    right: 5%;
    width: 35px;
    height: 35px;
    font-size: 20px; /* ボタンの大きさも画面サイズに応じて変化 */
    opacity: 0.8;
    border: none;
    border-radius: 3px;
    background-color: black;
    /* コンテンツの中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}
.diary-myself-field .diary-list .card .diary-edit-button::before {
    font-family: 'bootstrap-icons';
    content: '\F4CA'; /* Unicodeのアイコンや他の記号を指定 */
    color: #FFFFFF;
    background-color: black;
}

.diary-list .card-rank0 .card-explanation {
    color: #888;       /* グレー系の薄い色 */
}
.diary-list .card-rank0 {
    background: linear-gradient(90deg, #b39855 0%, #fff9e6 50%, #b39855 100%);
}
.diary-list .card-rank0 .card-locations {
    font-weight: bold;
}
.diary-list .card-rank0 .card-explanation {
    color: #063761;
}

/* モーダルウィンドウ */
#imageModalContainer .modal-body {
    padding: 1px;
    background-color: #888;
    border-radius: .5rem;
}
#modalImage {
    width: 100%;
    border-radius: .5rem;
    transition: transform 0.3s ease;  /* 画像のズームインエフェクトの設定 */
}
#modalImage.show {
    transform: scale(1.1);  /* 少しズームインする */
}
/* モーダル背景を透明に */
#imageModalContainer .modal-backdrop {
    background-color: transparent !important;
}
/* モーダルの内容を透明に */
#imageModalContainer .modal-content {
    background-color: transparent !important;
    border: none;  /* ボーダーも非表示 */
}
#imageModalContainer .btn-close {
    font-size: 1.5rem;   /* フォントサイズを大きくする */
    width: 40px;         /* 幅を指定 */
    height: 40px;        /* 高さを指定 */
}
#imageModalContainer .btn-close:focus {
    box-shadow: none;  /* フォーカス時のシャドウを消す */
}
