.diary-list .card {
    aspect-ratio: 6 / 5;
    display: flex;
    flex-direction: column;  /* 縦に並べる */
    justify-content: space-between;  /* 上下の間隔を均等に */
    height: 100%;  /* 高さを100%にして親要素に合わせる */
    border: none;
    cursor: pointer;
}
.diary-list .card .thumbnail-img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;  /* 画像を適切にトリミング */
    border-radius: 10px;
}
.diary-list .card .card-body {
    padding-top: 10px;
}
.diary-list .card .card-locations {
    overflow: hidden;
    display: -webkit-box;
    display: box; /* 一部の古いブラウザでの対応 */
    -webkit-line-clamp: 1; /* 最大2行に制限 */
    line-clamp: 1; /* ベンダープレフィックスなしの標準プロパティ */
    -webkit-box-orient: vertical;
    box-orient: vertical; /* 一部の古いブラウザでの対応 */
    line-height: 1.4; /* 行間の調整（任意） */
    text-overflow: ellipsis;
}
.diary-list .card .card-explanation {
    font-size: 0.8em;  /* 小さめのフォントサイズ */
    color: #888;       /* グレー系の薄い色 */
    margin: 5px 0;     /* 余白を小さく */
    line-height: 1.4;  /* 行間を少し広めに */
}

.diary-list .card-rank0 {
    background: linear-gradient(90deg, #b39855 0%, #fff9e6 50%, #b39855 100%);
}
.diary-list .card-rank0 .card-locations {
    font-weight: bold;
}

#imageModalContainer .modal-body {
    padding: 1px;
}
#modalImage {
    width: 100%;
    border-radius: .5rem;
    transition: transform 0.3s ease;  /* 画像のズームインエフェクトの設定 */
}
#modalImage.show {
    transform: scale(1.1);  /* 少しズームインする */
}
