.weather-table-hourly {
    overflow-x: auto;
    white-space: nowrap;
}
.weather-table-hourly::-webkit-scrollbar {
    display: none;
}

.weather-table-hourly {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.weather-table-hourly th:first-child,
.weather-table-hourly td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #fff;
}