/* カレンダー中のaの下線+青文字を消す */
.fc a {
    color: inherit; /* 親要素の色を継承 */
    text-decoration: none; /* 下線を削除 */
}
.fc-daygrid-day-number {
    color: black; /* 日付の色を黒に戻す */
    text-decoration: none; /* 下線を削除 */
}
/* 幅 */
.fc-header-toolbar,
.fc-view-harness,
.fc-col-header, .fc-daygrid-body, .fc-scrollgrid-sync-table{
	width: 100%;
	max-width: 1000px;
}

#mycalendar{
	align-items : center;
}
#mycalendar td.fc-daygrid-day:not(.fc-day-future) {
    cursor: pointer; /* カーソルをポインタに設定 */
}

/* 日曜日 */
#mycalendar td.fc-day-sun {
    color: crimson;
}
/*祝日のセル*/
#mycalendar td.fc-daygrid-day:has(.holiday){
	color: crimson;
}
#mycalendar .holiday{
    color: crimson; /* 祝日タイトルの色 */
    font-weight: bold; /* 太字 */
    font-size: 0.8em;
    white-space: pre-line; /* 改行文字を反映させる */
    background-color: transparent; /* 背景を透明にする */
}
/* 土曜日 */
#mycalendar td.fc-day-sat {
    color: blue;
}
/* 今日 */
#mycalendar td.fc-day-today {
    background-color: #ffffcc; 
}
/* サイクル日 */
#mycalendar .diary-event {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* カーソルをポインタに設定 */
}
#mycalendar .diary-event .icon-bike{
    color: #74C0FC;
    font-size: 2.5em;
}

/* モーダルウィンドウ */
#diaryModal #modalForm-errors{
    display: none;
}