#entry .btn-entry {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 通常時の影 */
    transition: box-shadow 0.3s ease; /* 影の変化を滑らかに */
    border-radius: 50rem;  /* これでピル形状に */
    margin: 0 10px;
}
#entry .btn-entry:hover {
    box-shadow: none !important; /* 影を消す */
}

#features .features-box {
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
    padding: 0px 20px;

    display: flex;
    justify-content: center;  /* 横方向中央 */
    align-items: center;      /* 縦方向中央 */
}