.hours-weather-container td .chance_of_rain {
    opacity: 0.8; /* 半透明に */
    position: absolute;
    bottom: 0;
    right: 0;
    background: skyblue; 
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 50%;
}