.hours-weather-container td .chance_of_rain {
    opacity: 0.8; /* 半透明に */
    position: absolute;
    top: 0;
    right: 0;
    background-color: aliceblue;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 50%;
    width: 4.2em;
    font-weight: 500;
}
@media (min-width: 1024px) {
    .hours-weather-container td .chance_of_rain {
        /* Y軸中央揃え */
        top: 50%;
        transform: translateY(-50%); /* 要素の高さを考慮して中央に配置 */
        font-weight: 600;

        font-size: 14px;
        padding: 4px 6px;
    }
}
@media (min-width: 1440px) {
    .hours-weather-container td .chance_of_rain {
        font-size: 16px;
        padding: 6px 8px;
    }
}