/* テーブルがx軸方向にはみ出るようにする */
.weather-table-hourly table {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
/* 通常時はスクロールバーを非表示に */
.weather-table-hourly {
    overflow: hidden; /* スクロールバーを隠す */
}
/* カーソルが要素に乗ったときだけスクロールバーを表示 */
.weather-table-hourly:hover {
    overflow-y: auto; /* 縦方向にスクロールバーを表示 */
    overflow-x: auto; /* 横方向にスクロールバーを表示 */
}

/* .weather-table-hourly img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}  */

/* .weather-table-hourly {
    -ms-overflow-style: none;
    scrollbar-width: none;  
} */

/* 最初の要素を固定して見えるようにする */
.weather-table-hourly th:first-child,
.weather-table-hourly td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: #fff;
}

/* 日にち区切り */
.weather-table-hourly .daily-column {
    background-color: rgb(205, 205, 205);
    border: none;
}

/* 風向きの高さを一定に */
.weather-table-hourly .wind-img {
    height: 40px;
    object-fit: cover;
}

/* 現在天気の画像に関するクラス */
/* #currentWeather img {
    display: block;
    height: 60px;
    width: auto;
    object-fit: cover;
    margin: 5px;
    padding: 10px;
} */

#currentWeather img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

/* .weather-table-hourly th,
.weather-table-hourly td {
    padding: .5em .8em;
} */